<% if @user.errors %>
	<% @user.errors.full_messages.each do |err| %>
		<p><%= err %></p>
	<% end %>
<% end %>
<%= form_for(@user) do |f| %>
	<table class="form-table block">
		<tr>
			<td><%= f.label :first, "First name" %></td>
			<td><%= f.text_field :first, :autofocus => true %></td>
		</tr>
		<tr>	
			<td><%= f.label :last, "Last name" %></td>
			<td><%= f.text_field :last %></td>
		</tr>
		<tr>	
			<td><%= f.label :email, "Email" %></td>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>	
			<td><%= f.label :password, "Password" %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>	
			<td colspan="2"><%= f.submit :class => "btn btn-success pull-right" %></td>
		</tr>
	</table>
	
<% end %>