<h2>
	Contacts
	<span class="pull-right">
		<%= link_to '+ New', new_user_path, :class => "btn btn-success margin-left" %>
	</span>
</h2>

<% if flash[:success] %>
	<p class="text-success"><%= flash[:success] %></p>
<% end %>

<table class="table table-striped block">
	<thead>
		<th class="col_name">Name</th>
		<th class="col_email">Email</th>
		<th class="col_action">Action</th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
				<tr>
					<td class="col_name">
						<%= link_to user_path(user) do %>
							<%= user.first + " " + user.last %>
						<% end %>
					</td>
					<td class="col_email"><%= user.email %></td>
					<td class="col_action">
						<%= link_to 'Edit', edit_user_path(user), :class => "btn btn-default" %>
						<%= link_to 'Del', user_path(user), :method => "delete", :class => "btn btn-danger" %>
					</td>
				</tr>
		<% end %>
	</tbody>
</table>
