<h2>
	User Details
	<span class="pull-right">
		<%= link_to 'Back', users_path, :class => "btn btn-default" %>
	</span>
</h2>

<!-- <div class="block"> -->
	<table class="form-table block">
		<tr><td>First name:</td><td><b><%= @user.first %></b><td></td>
		<tr><td>Last name:</td><td><b><%= @user.last %></b><td></td>
		<tr><td>Email:</td><td><b><%= @user.email %></b><td></td>
	</table>
<!-- </div> -->

<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-default" %>
